body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;

  padding: 50px 0 0;
  margin: 0;
}

a {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
  line-height: 40px;
  font-size: 28px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #d4d4d4;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 15px;
  }

  a {
    display: inline-block;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;

    &:hover {
      color: #333;
    }
  }

  .brand {
    margin-top: 8px;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 3px;

    img {
      width: 29px;
      height: 25px;
    }

    span {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      top: -2px;
    }
  }

  .nav {
    a {
      padding: 10px 15px;
    }
  }

  @media (max-width: 500px) {
    .brand span {
      display: none;
    }
  }
}

#pitch {

  padding: 20px;

  .logo-and-text {
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: 137px;
    height: 117px;
    margin-right: 50px;
  }

  p {
    max-width: 600px;
  }

  @media (max-width: 500px) {
    .logo {
      display: none;
    }
  }
}

#get-started {

  padding: 20px;

  .way {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5px 20px 15px;
    margin: 20px;
  }

  .button-row {
    text-align: center;

    a {
      display: inline-block;
      border-radius: 5px;
      background-color: #4c9ef0;
      color: white;
      padding: 10px 20px;
      margin: 10px;

      &:hover {
        background-color: #51a8ff;
      }
    }
  }

  @media (min-width: 900px) {
    .ways {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
    }

    .way {
      max-width: 400px;
      border: 1px solid #333;
      border-radius: 3px;
    }
  }
}

#learn-more {
  padding: 20px;
}

#bottom {
  padding: 20px;
}
