body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  padding: 50px 0 0;
  margin: 0; }

a {
  cursor: pointer;
  color: #08c; }
  a:hover {
    color: #005580;
    text-decoration: underline; }

h1 {
  text-align: center;
  margin-bottom: 35px;
  line-height: 40px;
  font-size: 28px; }

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto; }

#top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-repeat: repeat-x;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #d4d4d4;
  box-shadow: 0px -21px 10px 20px #c0c0c0; }
  #top .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px; }
  #top a {
    display: inline-block;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff; }
    #top a:hover {
      color: #333; }
  #top .brand {
    margin-top: 8px;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 3px; }
    #top .brand img {
      width: 29px;
      height: 25px;
      opacity: 0.8; }
    #top .brand:hover img {
      opacity: 1; }
    #top .brand span {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      top: -2px; }
  #top .nav a {
    padding: 10px 15px; }
  @media (max-width: 500px) {
    #top .brand span {
      display: none; } }

#pitch {
  padding: 20px; }
  #pitch .logo-and-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  #pitch .logo {
    width: 137px;
    height: 117px;
    margin-right: 50px; }
  #pitch p {
    max-width: 420px; }
  @media (max-width: 500px) {
    #pitch .logo {
      display: none; } }

#get-started {
  padding: 20px; }
  #get-started .way {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 20px 15px;
    margin: 20px;
    max-width: 400px;
    box-shadow: 0 2px 10px 1px #ccc;
    border-radius: 3px; }
  #get-started .button-row {
    text-align: center; }
    #get-started .button-row a {
      display: inline-block;
      border-radius: 5px;
      color: white;
      padding: 10px 20px;
      margin: 10px;
      background-color: #4c9ef0;
      background-image: linear-gradient(to bottom, #4c9ef0, #116bc5);
      background-repeat: repeat-x; }
      #get-started .button-row a:hover {
        background-image: linear-gradient(to bottom, #64abf2, #1378dd);
        text-decoration: none; }
  @media (min-width: 900px) {
    #get-started .ways {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch; } }

#learn-more, #ecosystems {
  padding: 20px; }
  #learn-more a, #ecosystems a {
    font-weight: bold; }
  #learn-more li, #ecosystems li {
    list-style-type: none;
    margin: 0.5em 0; }

#bottom {
  color: #ccc;
  background-color: #222;
  padding: 40px 20px;
  margin-top: 50px;
  text-align: center; }
  #bottom a {
    color: #679aff; }
    #bottom a:hover {
      color: #9abcff; }
